{#-
 This file is part of Supysonic.
 Supysonic is a Python implementation of the Subsonic server API.

 Distributed under terms of the GNU AGPLv3 license.
-#}
{% extends "layout.html" %}
{% block title %}Update Email · Emosonic Server{% endblock %}
{% block navbar_users %}
{% if request.user.id != user.id %}
<a class="nav-link active" aria-current="page" href="{{ url_for('frontend.user_index') }}">Users</a>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}
{% block navbar_profile %}
{% if request.user.id == user.id %}
<a class="dropdown-item active" aria-current="page" href="{{ url_for('frontend.user_profile', uid = 'me') }}">{{ request.user.name }}</a>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}
{% block page_title %}Update email{% endblock %}
{% block page_subtitle %}Change the primary email address used for account identification and notifications for {{ user.name }}.{% endblock %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-xl-7">
    <div class="card">
      <div class="card-header">Email configuration</div>
      <div class="card-body">
        <form method="post" class="d-flex flex-column gap-4">
          <div>
            <label class="form-label" for="mail">Email</label>
            <input type="text" class="form-control" id="mail" name="mail" value="{{ request.form.mail or user.mail }}" placeholder="name@example.com">
          </div>
          <div class="d-flex gap-2 justify-content-end">
            <a href="{{ url_for('frontend.user_profile', uid = 'me' if request.user.id == user.id else user.id) }}" class="btn btn-outline-dark">Cancel</a>
            <button class="btn btn-dark" type="submit">Update email</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
